$fontSize = 13px
$counterSize = 11px

$borderRadius = 3px
$mobileOffset = 15px

$buttonSize = {
    mobile: 30px,
    desktop: 25px
}

$buttonPadding = {
    mobile: 8px,
    desktop: 10px
}

$buttonMargin = {
    mobile: 5px,
    desktop: 4px
}

$iconSize = {
    mobile: 14px,
    desktop: 14px
}

$colors = {
    white: #ffffff,
    black: #000000
}

$mq = {
    mobile: '(max-width: 679px)',
    desktop: '(min-width: 680px)'
}

.likely:not(.likely--custom)
    box-sizing: border-box
    display: inline-flex
    flex-wrap: wrap

    @media $mq.mobile
        display: flex
        flex-wrap: wrap-reverse
        width: 100%
        height: $buttonSize.mobile + $mobileOffset
        padding: 0 ($mobileOffset - $buttonMargin.mobile) ($mobileOffset - $buttonMargin.mobile)
        position: fixed
        bottom: 0
        left: 0
        z-index: 1000

    @media $mq.desktop
        height: $buttonSize.desktop + ($buttonMargin.desktop * 2)

    *
        box-sizing: border-box

    .likely
        &__widget
            display: flex
            justify-content: center
            align-items: baseline
            font-size: $fontSize
            color: $colors.white
            height: $buttonSize.mobile
            border-radius: $borderRadius
            user-select: none
            overflow: hidden

            @media $mq.mobile
                width: 25%
                padding: 0 $buttonMargin.mobile
                margin: $buttonMargin.mobile 0

                &:nth-child(n + 4):not(.likely__widget--more)
                    order: 2
                    visibility: hidden
                    opacity: 0
                    transform: translateY($buttonMargin.mobile)

                &--more
                    order: 1

            @media $mq.desktop
                min-width: $buttonSize.desktop + 12px
                height: $buttonSize.desktop
                padding: 0 $buttonPadding.desktop
                margin-right: $buttonMargin.desktop
                line-height: @height

                &:first-child
                    margin-left: 0

                &:last-child
                    margin-right: 0

                &--telegram,
                &--whatsapp,
                &--viber,
                &--email,
                &--more
                    display: none

            &--more
                &.active
                    .likely__icon
                        svg
                            transform: rotate(45deg)

        &__button
            @media $mq.mobile
                display: none

            @media $mq.desktop
                margin-left: $buttonPadding.desktop - 2px

            &:empty
                display: none

        &__icon
            flex-shrink: 0
            align-self: stretch
            display: flex
            align-items: center
            justify-content: center
            width: 100%

            @media $mq.mobile
                border-radius: $borderRadius

            @media $mq.desktop
                box-sizing: content-box
                width: auto

                &--facebook
                    margin-left: -3px
                    margin-right: -3px

                &--odnoklassniki
                    margin-left: -3px
                    margin-right: -3px

                &--twitter
                    margin-right: -1px

            svg
                flex-shrink: 0
                display: block
                width: $iconSize.mobile
                height: @width

                @media $mq.desktop
                    width: $iconSize.desktop
                    height: @width

            &--vkontakte
                svg
                    width: $iconSize.mobile + 2px
                    height: @width

                    @media $mq.desktop
                        width: $iconSize.desktop + 2px
                        height: @width

        &__counter
            @media $mq.desktop
                padding-left: $buttonPadding.desktop
                font-size: $counterSize
                color: rgba($colors.white, 0.5)
                display: block

            &--empty,
            &:empty
                display: none

    /* When likely is ready */
    &.likely--ready
        .likely
            &__counter
                @media $mq.desktop
                    &--empty
                        display: none

    /* Expanded mobile view */
    &.likely--expanded
        .likely
            &__widget
                @media $mq.mobile
                    &:nth-child(n + 4):not(.likely__widget--more)
                        visibility: visible
                        opacity: 1
                        transform: translateY(0)

    /* If buttons should not be visible on mobile */
    &.likely--desktop
        @media $mq.mobile
            display: none

    &.likely--no-counters
        .likely__counter
            display: none

/* General styles for correct work */
.likely
    visibility: hidden
    opacity: 0

    &__widget
        font-family 'Roboto', 'Helvetica Neue', 'Arial', sans-serif
        font-weight: 400
        -webkit-font-smoothing: antialiased
        color: $colors.white
        fill: @color
        cursor: pointer

        @media $mq.desktop
            background: $colors.black

    &__icon
        @media $mq.mobile
            background: $colors.black

    &__counter
        display: none

    &--ready
        visibility: visible
        opacity: 1

/* Services colors */
colorize(button, color)
    .likely__widget.{button},
    .likely__widget--{button}
        @media $mq.desktop
            background: color

            &:hover
                background: mix($colors.black, color, 15%)

    .likely__icon--{button}
        @media $mq.mobile
            background: color

            &:hover
                background: mix($colors.black, color, 15%)

colorize('twitter', #55acee)
colorize('facebook', #3b5998)
colorize('vkontakte', #45668e)
colorize('gplus', #dc4e41)
colorize('odnoklassniki', #ed812b)
colorize('pocket', #ef4056)
colorize('telegram', #0088cc)
colorize('whatsapp', #43d854)
colorize('viber', #8f5db7)
colorize('email', #43475d)
colorize('more', #95A5A6)