// Variables
$likely-font-size = 12px

$likely-mobile-padding = 15px

$button-size-mobile = 32px
$button-size-desktop = 20px

$icon-size-mobile = 16px
$icon-size-desktop = 12px

$button-padding-mobile = 8px
$button-padding-desktop = 6px

$button-margin-mobile = 6px
$button-margin-desktop = 2px

$button-radius-mobile = 3px
$button-radius-desktop = 2px

$mq-desktop = '(min-width: 760px)'
$mq-mobile = '(max-width: 759px)'

// Default skin
.likely:not(.likely--custom)
    box-sizing border-box
    display inline-flex
    flex-wrap wrap-reverse
    font-size $likely-font-size
    width 100%
    height $button-size-mobile + $likely-mobile-padding
    padding 0 ($likely-mobile-padding - $button-margin-mobile) ($likely-mobile-padding - $button-margin-mobile)
    position fixed
    bottom 0
    left 0
    z-index 1000
    
    @media $mq-desktop
        flex-wrap wrap
        position relative
        bottom auto
        min-height $button-size-desktop + $button-margin-desktop*2
        width auto
        height auto
        padding 0
        z-index auto
    
    *
        box-sizing border-box
    
    .likely
        &__widget
            display flex
            justify-content center
            font-size 1em
            color #fff
            min-width $button-size-mobile
            width 'calc(%s - %s)' % (25% $button-margin-mobile*2)
            margin $button-margin-mobile
            height $button-size-mobile
            line-height $button-size-mobile
            border-radius $button-radius-mobile
            user-select none
            overflow hidden
            transition-duration 0.08s
            transition-timing-function ease-in-out
            transition-property all
            
            @media $mq-mobile
                &:nth-child(n + 4):not(.likely__widget--more)
                    order 2
                    visibility hidden
                    opacity 0
                    transform translateY($button-margin-mobile)
                                    
                &--more
                    order 1
            
            @media $mq-desktop
                min-width $button-size-desktop
                width auto
                height $button-size-desktop
                margin $button-margin-desktop $button-margin-desktop*2 $button-margin-desktop 0
                line-height unit(round(($button-size-desktop/$likely-font-size), 3), '')
                border-radius $button-radius-desktop
                transition-property background
                
                &:first-child
                    margin-left 0
                
                &:last-child
                    margin-right 0
                
                &--telegram, &--whatsapp, &--viber, &--more
                    display none
            
            &--more
                .likely__icon
                    transition all 0.08s ease-in-out
                
                &.active
                    .likely__icon
                        transform rotate(45deg)
        
        &__button
            display none
            padding-right $button-padding-desktop
            
            @media $mq-desktop
                display inline-block
            
            &:empty
                padding-right 0
        
        &__icon
            display flex
            align-items center
            justify-content center
            width $button-size-mobile
            text-align center
            
            @media $mq-desktop
                width $button-size-desktop + 2px
            
            svg
                width $icon-size-mobile
                height $icon-size-mobile
                
                @media $mq-desktop
                    width $icon-size-desktop
                    height $icon-size-desktop
        
        &__counter
            padding-right $button-padding-desktop
            font-size 11px
            color rgba(255, 255, 255, 0.5)
            
            @media $mq-desktop
                line-height unit(round(($button-size-desktop/@font-size), 3), '') + 0.102
    
    // When likely is ready
    &.likely--ready
        .likely
            &__counter
                
                @media $mq-desktop
                    display inline-block
                    
                    &--empty
                        display none

    
    // When expanded in mobile view
    &.likely--expanded
        .likely
            &__widget
                
                @media $mq-mobile
                    &:nth-child(n + 4):not(.likely__widget--more)
                        visibility visible
                        opacity 1
                        transform translateY(0)
    
    // If flexbox is not supported
    &.likely--no-flex
        display inline-block
        font-size 0
        overflow visible
        
        @media $mq-mobile
            width auto
            left $likely-mobile-padding
            right 0
            bottom $likely-mobile-padding - $button-margin-mobile
            padding 0
            transform scaleY(-1)
        
        > *
            display inline-block
            vertical-align top
        
        .likely 
            &__widget
                display inline-block
                white-space nowrap
                width 21%
                margin $button-margin-mobile 4% $button-margin-mobile 0
                font-size $likely-font-size
                text-align center
                transform none
                transition none
                
                @media $mq-mobile
                    transform scaleY(-1)
                
                @media $mq-desktop
                    width auto
                    margin $button-margin-desktop
                    
                    &:first-child
                        margin-left 0
                    
                    &:last-child
                        margin-right 0
                    
                    &--telegram, &--whatsapp, &--viber, &--more
                        display none
                        
                &:nth-child(3)
                    @media $mq-mobile
                        margin-right 29%
                
                &:nth-child(n + 4):not(.likely__widget--more)
                    @media $mq-mobile
                        transform scaleY(-1)
                
                &--more
                    @media $mq-mobile
                        width 21%
                        margin-left 0
                        margin-right 0
                        position absolute
                        top 0
                        left 25%*3
            
            &__icon
                display inline-block
                vertical-align middle
                height $icon-size-mobile
                margin-top -2px
                transition none
                
                @media $mq-desktop
                    height $icon-size-desktop
                
                svg
                    vertical-align top
    
    // If buttons should not be visible on mobile
    &.likely--desktop
        @media $mq-mobile
            display none

// General styles for correct work
.likely
    visibility hidden
    opacity 0
    transition opacity 0.08s ease-in-out
    
    &__widget
        font-family 'Helvetica Neue', Arial, sans-serif
        background #333
        color #fff
        fill #fff
        cursor pointer
    
    &__counter
        display none
    
    &--ready
        visibility visible
        opacity 1

.likely--ready
    .likely
        &__counter
            &--empty
                display none

// Services colors
colorize(button, color)
    .likely__widget.{button}, .likely__widget--{button}
        background color
        
        &:hover, &.active
            background mix(#000, color, 15%)

colorize('twitter', #55acee)
colorize('facebook', #3b5998)
colorize('vkontakte', #45668e)
colorize('gplus', #dc4e41)
colorize('odnoklassniki', #ed812b)
colorize('pocket', #ef4056)
colorize('telegram', #0088cc)
colorize('whatsapp', #43d854)
colorize('viber', #8f5db7)
colorize('more', #95A5A6)